.d-flex {
    display: flex;
    align-items: center;
    &.center {
        justify-content: center;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.row {
        flex-direction: column;
        &.left {
            align-items: flex-start;
        }
    }
}

.wrapper-index {
    padding: 20px 50px;
}

@media only screen and (max-width: 800px) {
   .filter-custom {
        border: 1px solid rgb(230, 230, 230);
        padding: 10px;
        position: relative !important;
        background: #fff;
        z-index: 200;
        border-radius: 20px;
        margin-top: 20px !important;
        margin-bottom: 100px !important;
        box-shadow: 0px 5px 15px rgb(228, 228, 228);
    }

    .wrapper-index {
        padding: 0px 50px 0px 20px !important;
    }

    .right-menu {
        display: none;
    }
}

.input-focus {
    &.ant-input-affix-wrapper-focused {
        width: 300px !important;
    }
}

.slick-custom {
    background-image: url('../public/images/slick-background.png');
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: center;
    .react-slick {
        width: 100%;
        .item-slick {
           padding: 20px;
        }
    }
}


.ant-card-meta-description {
    max-height: 50px;
}

.filter-custom {
    border: 1px solid rgb(230, 230, 230);
    padding: 10px;
    position: sticky;
    background: #fff;
    z-index: 200;
    top: 70px;
    border-radius: 20px;
    margin-top: 20px !important;
    box-shadow: 0px 5px 15px rgb(228, 228, 228);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888; 
    &:hover {
        background: #555; 
    }
  }

  .mr-10 {
      margin-right: 10px;
  }

  .gradient-text {
    font-size: 25px;
    background: -webkit-linear-gradient(#f54ea2, #ff7676);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
